.body{
    -fx-background-color: #424951;
    -fx-pref-width: 400;
}
.text-field{
    -fx-text-fill: #eeeeee;
    -fx-background-color: transparent;
    -fx-border-color: #00000030;
    -fx-border-radius: 4;
    -fx-prompt-text-fill: #ffffff30;
}
.check-box .box{
    -fx-border-color: #00ADB5;
    -fx-border-radius: 4;
    -fx-background-color: #d9d9d988;
    -fx-background-radius: 4;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}
.check-box:selected .box{
    -fx-border-color: #44ee77;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}
.check-box:selected .mark{
    -fx-background-color:#44ee77;
}
.button{
    -fx-background-color: #00ADB5;
    -fx-background-radius: 4;
    -fx-text-fill: #ffffff;
}