.BG{
  -fx-background-color: #393E4600;
  -fx-pref-height: 29;
  -fx-pref-width: 449;
}

.combo-box {
  -fx-background-color: #424951;
  -fx-pref-height: 29;
  -fx-pref-width: 449;
}

.combo-box .arrow{
  -fx-background-color: #eeeeee;
  -fx-rotate: 90;
  -fx-pref-width: 14;
  -fx-pref-height: 8;
}

.progress-bar > .track{
  -fx-background-color: #787a86;
  -fx-background-radius:27;
  -fx-pref-height: 14;
  -fx-pref-width: 217;

}

.progress-bar > .bar{
  -fx-background-color: #00d9e1;
  -fx-pref-height: 18;
  -fx-background-radius: 27;
}
